# Build
bin/
obj/

# User files
.vs/
*.user
*.suo

# Rider
.idea/

# Logs
Logs/
*.log

# ASP.NET
appsettings.Development.json
appsettings.Producation.json

# Secrets
secrets.json

# Node
node_modules/

# OS
.DS_Store
Thumbs.db

# database
GeoLite2-City.mmdb
GeoLite2-ASN.mmdb
*.mmdb

# Publish
publish/

# Environment
.env

# Keys
*.pfx
*.key
secrets.json

# Tests
TestResults/
CoverageReport/
coverage.cobertura.xml
/CarServiceBookingSystem.API/Properties/PublishProfiles/mahmoudalmahmoud-002-site1 - FTP.pubxml
/CarServiceBookingSystem.API/Properties/PublishProfiles/mahmoudalmahmoud-002-site1 - Web Deploy.pubxml
