# Build
bin/
obj/

# User files
.vs/
*.user
*.suo

# Rider
.idea/

# Logs
Logs/
*.log

# ASP.NET
appsettings.Development.json
appsettings.Producation.json

# Secrets
secrets.json

# Node
node_modules/

# OS
.DS_Store
Thumbs.db

# Publish
publish/

# Environment
.env

# Tests
TestResults/
CoverageReport/
coverage.cobertura.xml